<hr>
<footer>
  <h4>Social Media</h4>
  <div class="social">
    <ol>
      <li><a href="#" class="fab fa-facebook"></a></li>
      <li><a href="#" class="fab fa-twitter"></a></li>
      <li><a href="#" class="fab fa-linkedin"></a></li>
      <li><a href="https://github.com/Muturi403" class="fab fa-github"></a></li>
      <li><a href="tel:+254734097432" class="fab fa-whatsapp"></a></li>
    </ol>
  </div>
  <div class="footer_info">
    <p>Created By Faith Muturi &copy; 2021</p>
  </div>
</footer>